.custom-dialog {
  .MuiDialog-paperWidthSm {
    min-width: 30%;
  }
  .dialog-title {
    .heading-button {
      display: flex;
      justify-content: space-between;
    }
  }

  .lend-nft-content {
    .lend-nft-dialog-actions {
      display: flex;
      justify-content: end;
      margin-top: 10px;
    }
  }

  .content-container {
    .fractional-textfield {
      width: calc(50% - 10px);
      margin-right: 10px;
    }
  }
}
