.NFT-container {
  margin: 10px;
  max-height: 600px;
  max-width: 275px;

  .card-container {
    margin: 5px;
    min-width: 265px;
    width: calc(100% - 5px);
    min-height: 375px;
    border-radius: 8px;

    .card-child-container {
      height: 100%;
      max-height: 600px;
      max-width: 275px;

      .description-container {
        padding: 10px;
        padding-top: 0px;

        .nft-site {
          font-size: small;
          font-weight: bold;
          height: 20px;
          color: gray;
          margin-top: 10px;
        }

        .fractional-nft-details {
          display: flex;
          justify-content: space-between;
          font-size: small;
          font-weight: bold;

          &.fractional-first-description {
            margin-top: 10px;
          }
        }

        .nft-details {
          display: flex;
          justify-content: space-between;
          font-size: small;
          font-weight: bold;

          .price {
            font-size: medium;
            font-weight: bolder;
            line-height: 1.5;
          }

          .totalSupply {
            font-size: medium;
            font-weight: bolder;
          }
        }

        .nft-description {
          font-size: medium;
          font-weight: bold;
          margin-bottom: 10px;
          margin-top: 10px;

          .borrow-nft-detail-container {
            display: flex;
            justify-content: space-between;
          }
        }
      }
      .card-image {
        max-height: 258px;
        max-width: 258px;
        min-height: 258px;
        margin: 5px;
        border-radius: 5px;
      }
    }
  }
  .all-buttons {
    display: flex;
    flex-wrap: wrap;

    .mynft-button {
      margin-left: 5px;
      margin-top: 10px;
      width: calc(50% - 5px);
      &.sell-button {
        background-color: #a37070;
      }
      &.transfer-button {
        background-color: #6b6bd3;
      }
    }

    .fractional-button {
      width: 100%;
      margin-left: 5px;
      margin-top: 10px;
      background-color: #006e9e;
    }
  }
}
