.my-nfts-container {
  height: 100%;
  .menu-items-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
    border-bottom: 1px solid grey;
    .menu-items {
      display: flex;
      .menu-item {
        padding-right: 20px;
        font-size: 1.1rem;
        margin-right: 15px;
        font-weight: 90;
        cursor: pointer;
        &:not(:last-child) {
          border-right: 2px solid #ffffff;
        }
        &.active {
          text-decoration: underline #5ab32e;
        }
      }
    }
    .buy-crypto-wrapper {
      .buy-crypto-link {
        display: flex;
        align-items: center;
        color: #0e6ce9;
        text-decoration: underline;
        cursor: pointer;
      }
    }
  }

  .main-container-mynft {
    height: 100%;
    .full-height {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;

      .No-data-label-mynft {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
        width: 100%;
        h1 {
          font-family: "Times New Roman", Times, serif;
        }
      }
    }
  }
  .header-container {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }
}

.repay-header-container {
  height: 100%;
  .repay-main-container-mynft {
    height: 100%;
    .full-height {
      height: 100%;
      display: flex;
      flex-wrap: wrap;
      overflow-y: auto;
    }

    .No-data-label-repay {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
      h1 {
        font-family: "Times New Roman", Times, serif;
      }
    }
  }
}

.fractional-container {
  height: 100%;

  .full-height {
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
  }

  .No-data-label-mynft {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    h1 {
      font-family: "Times New Roman", Times, serif;
    }
  }
}

.alert {
  width: 100%;
  height: 5vh;
  margin-left: 10px;
  margin-right: 10px;
}
